<div class="flexslider progression-studios-slider">
    <ul class="slides">
    <li class="progression_studios_animate_left">
      <div class="progression-studios-slider-image-background" style="background-image:url(../assets/images/demo/1200wx500h.jpg);">
        <div class="progression-studios-slider-display-table">
          <div class="progression-studios-slider-vertical-align">
            
            <div class="container">
              
              <div class="progression-studios-slider-caption-width">
                <div class="progression-studios-slider-caption-align">
                  <h2><a href="video-post.html">Nữ Thần Chiến Binh 1984</a></h2>
                  <ul class="slider-video-post-meta-list">
                    <li class="slider-video-post-meta-cat"><ul><li><a href="#!">Hành Động, Viễn Tưởng</a></li></ul></li>																				
                    <li class="slider-video-post-meta-reviews">
                      <div class="average-rating-video-post">
                        <div class="average-rating-video-empty">
                          <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                        </div>
                        <div class="average-rating-overflow-width" style="width:80%;">
                          <div class="average-rating-video-filled">
                            <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                            <div class="clearfix"></div>
                          </div><!-- close .average-rating-video-filled -->
                        </div><!-- close .average-rating-overflow-width -->
                      </div><!-- close .average-rating-video-post -->
                      <div class="clearfix"></div>
                    </li>
                    <li class="slider-video-post-meta-year">2020</li>
                    <li class="slider-video-post-meta-rating"><span>C-16</span></li>
                  </ul>
                  <div class="clearfix"></div>
                  <div class="progression-studios-slider-excerpt">Wonder Woman 1984 sẽ lấy bối cảnh năm 1984, khi Mỹ và Liên Xô đối đầu trong thời kỳ Chiến tranh Lạnh. Đặc biệt cũng hé lộ sự trở lại bí ẩn của Steve Trevor – người đã hy sinh anh dũng nhằm ngăn chặn kế hoạch phát tán chất độc của Đức quốc xã.</div>
                  <a class="btn btn-slider-pro afterglow" href="#VideoLightbox-1"><i class="fas fa-play-circle"></i>Xem Trailer</a>
                  
                  <iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <video id="VideoLightbox-1"  poster="./assets/images/video/poster.jpg" width="960" height="540">
                            <source src="images/video/sample.mp4" type="video/mp4">
                        </video>
                  
                </div><!-- close .progression-studios-slider-caption-align -->
              </div><!-- close .progression-studios-slider-caption-width -->
              
            </div><!-- close .container -->
            
          </div><!-- close .progression-studios-slider-vertical-align -->
        </div><!-- close .progression-studios-slider-display-table -->
        
        <div class="progression-studios-slider-overlay-gradient"></div>
        
        <div class="progression-studios-skrn-slider-upside-down" style="background-image:url(./assets/images/demo/shutterstock_117660574.jpg);"></div>
        
        
      </div><!-- close .progression-studios-slider-image-background -->
    </li>
    <li class="progression_studios_animate_in">
      <div class="progression-studios-slider-image-background" style="background-image:url(./assets/images/demo/rsz_sneak_show_980x448-01.jpg);">
        <div class="progression-studios-slider-display-table">
          <div class="progression-studios-slider-vertical-align">
            
            <div class="container">
              
              <div class="progression-studios-slider-caption-width">
                <div class="progression-studios-slider-caption-align">
                  <h2><a href="video-post.html">Doraemon: Nobita Và Bạn Khủng Long Mới</a></h2>
                  <ul class="slider-video-post-meta-list">
                    <li class="slider-video-post-meta-cat"><ul><li><a href="#!">Hoạt hình</a></li></ul></li>																				
                    <li class="slider-video-post-meta-reviews">
                      <div class="average-rating-video-post">
                        <div class="average-rating-video-empty">
                          <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                        </div>
                        <div class="average-rating-overflow-width" style="width:90%;">
                          <div class="average-rating-video-filled">
                            <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                            <div class="clearfix"></div>
                          </div><!-- close .average-rating-video-filled -->
                        </div><!-- close .average-rating-overflow-width -->
                      </div><!-- close .average-rating-video-post -->
                      <div class="clearfix"></div>
                    </li>
                    <li class="slider-video-post-meta-year">2020</li>
                    <li class="slider-video-post-meta-rating"><span>P</span></li>
                  </ul>
                  <div class="clearfix"></div>
                  <div class="progression-studios-slider-excerpt">Trong lúc đang tham gia hoạt động khảo cổ ở một cuộc triễn lãm khủng long, Nobita tình cờ tìm thấy một viên hóa thạch và cậu tin rằng đây là trứng khủng long</div>
                  <a class="btn btn-slider-pro afterglow" href="#VideoLightbox-2"><i class="fas fa-play-circle"></i>Xem Trailer</a>
                  
                        <video id="VideoLightbox-2"  poster="images/video/poster.jpg" width="960" height="540">
                            <source src="./assets/images/video/sample.mp4" type="video/mp4">
                        </video>
                  
                </div><!-- close .progression-studios-slider-caption-align -->
              </div><!-- close .progression-studios-slider-caption-width -->
              
            </div><!-- close .container -->
            
          </div><!-- close .progression-studios-slider-vertical-align -->
        </div><!-- close .progression-studios-slider-display-table -->
        
        <div class="progression-studios-slider-overlay-gradient"></div>
        
        <div class="progression-studios-skrn-slider-upside-down" style="background-image:url(./assets/images/demo/markus-spiske-544020-unsplash.jpg);"></div>
        
        
      </div><!-- close .progression-studios-slider-image-background -->
    </li>
    <li class="progression_studios_animate_right">
      <div class="progression-studios-slider-image-background" style="background-image:url(./assets/images/demo/viktor-theo-1209389-unsplash.jpg);">
        <div class="progression-studios-slider-display-table">
          <div class="progression-studios-slider-vertical-align">
            
            <div class="container">
              
              <div class="progression-studios-slider-caption-width">
                <div class="progression-studios-slider-caption-align">
                  <h2><a href="video-post.html">Fast &amp; Furious</a></h2>
                  <ul class="slider-video-post-meta-list">
                    <li class="slider-video-post-meta-cat"><ul><li><a href="#!">Hành động</a></li></ul></li>																				
                    <li class="slider-video-post-meta-reviews">
                      <div class="average-rating-video-post">
                        <div class="average-rating-video-empty">
                          <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                        </div>
                        <div class="average-rating-overflow-width" style="width:90%;">
                          <div class="average-rating-video-filled">
                            <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                            <div class="clearfix"></div>
                          </div><!-- close .average-rating-video-filled -->
                        </div><!-- close .average-rating-overflow-width -->
                      </div><!-- close .average-rating-video-post -->
                      <div class="clearfix"></div>
                    </li>
                    <li class="slider-video-post-meta-year">2017</li>
                    <li class="slider-video-post-meta-rating"><span>C-13</span></li>
                  </ul>
                  <div class="clearfix"></div>
                  <div class="progression-studios-slider-excerpt">Fast & Furious 8 là một bộ phim điện ảnh hành động của Mỹ năm 2017 do F. Gary Gray đạo diễn và Chris Morgan đảm nhiệm khâu kịch bản.</div>
                  <a class="btn btn-slider-pro afterglow" href="#VideoLightbox-3"><i class="fas fa-play-circle"></i>Xem Trailer</a>
                  
                        <video id="VideoLightbox-3"  poster="./assets/images/video/poster.jpg" width="960" height="540">
                            <source src="./assets/images/video/sample.mp4" type="video/mp4">
                        </video>
                  
                </div><!-- close .progression-studios-slider-caption-align -->
              </div><!-- close .progression-studios-slider-caption-width -->
              
            </div><!-- close .container -->
            
          </div><!-- close .progression-studios-slider-vertical-align -->
        </div><!-- close .progression-studios-slider-display-table -->
        
        <div class="progression-studios-slider-overlay-gradient"></div>
        
        <div class="progression-studios-skrn-slider-upside-down" style="background-image:url(./assets/images/demo/viktor-theo-1209389-unsplash.jpg);"></div>
        
        
      </div><!-- close .progression-studios-slider-image-background -->
    </li>
  </ul>
  </div><!-- close .progression-studios-slider - See /js/script.js file for options -->
  
  <div id="content-pro">
  
     <div class="container custom-gutters-pro">
    
    <div style="height:15px;"></div>
    
    <h2 class="post-list-heading">Phim Đang Chiếu<span><!-- These Picks Won't Disappoint --></span></h2>
    
  
    <div class="progression-studios-elementor-carousel-container progression-studios-always-arrows-on">
      <div id="progression-video-carousel" class="owl-carousel progression-carousel-theme">
        
        <div class="item">
          <div class="progression-studios-video-index-container">
            <a href="video-post.html">
              <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/spacex-530585-unsplash-700x480.jpg" alt="Featured Image"></div>
          
              <div class="progression-video-index-content">
                <div class="progression-video-index-table">
                  <div class="progression-video-index-vertical-align">
                
                    <h2 class="progression-video-title">Space Time</h2>
                
                    <div class="average-rating-video-post">
                      <div class="average-rating-video-empty">
                        <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                      </div>
                      <div class="average-rating-overflow-width" style="width:100%;">
                        <div class="average-rating-video-filled">
                          <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                        <div class="clearfix"></div>
                        </div><!-- close .average-rating-video-filled -->
                      </div><!-- close .average-rating-overflow-width -->
                    </div><!-- close .average-rating-video-post -->
                    <div class="clearfix"></div>
                  
                    <ul class="video-index-meta-taxonomy"><li>Sci-fi</li></ul>												
                    <div class="clearfix"></div>
                
                  </div><!-- close .progression-video-index-vertical-align -->
                </div><!-- close .progression-video-index-table -->
              </div><!-- close .progression-video-index-content -->
              <div class="video-index-border-hover"></div>
            
            </a>
          </div><!-- close .progression-studios-video-index-container  -->
        </div><!-- close .item -->
        
        <div class="item">
          <div class="progression-studios-video-index-container">
            <a href="video-post.html">
            
              <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/cederic-x-494198-unsplash-700x480.jpg" alt="Featured Image"></div>
          
              <div class="progression-video-index-content">
                <div class="progression-video-index-table">
                  <div class="progression-video-index-vertical-align">
                
                    <h2 class="progression-video-title">The Dark Tower</h2>
                
                    <div class="average-rating-video-post">
                      <div class="average-rating-video-empty">
                        <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                      </div>
                      <div class="average-rating-overflow-width" style="width:70%;">
                        <div class="average-rating-video-filled">
                          <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                        <div class="clearfix"></div>
                        </div><!-- close .average-rating-video-filled -->
                      </div><!-- close .average-rating-overflow-width -->
                    </div><!-- close .average-rating-video-post -->
                    <div class="clearfix"></div>
                  
                    <ul class="video-index-meta-taxonomy"><li>Sci-fi</li></ul>												
                    <div class="clearfix"></div>
                
                  </div><!-- close .progression-video-index-vertical-align -->
                </div><!-- close .progression-video-index-table -->
              </div><!-- close .progression-video-index-content -->
              <div class="video-index-border-hover"></div>
            
            </a>
          </div><!-- close .progression-studios-video-index-container -->
        </div><!-- close .item -->
        
        
        <div class="item">
          <div class="progression-studios-video-index-container">
            <a href="video-post.html">
            
              <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/blake-connally-590844-unsplash-700x480.jpg" alt="Featured Image"></div>
          
              <div class="progression-video-index-content">
                <div class="progression-video-index-table">
                  <div class="progression-video-index-vertical-align">
                
                    <h2 class="progression-video-title">Designing for the Future</h2>
                
                    <div class="average-rating-video-post">
                      <div class="average-rating-video-empty">
                        <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                      </div>
                      <div class="average-rating-overflow-width" style="width:80%;">
                        <div class="average-rating-video-filled">
                          <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                        <div class="clearfix"></div>
                        </div><!-- close .average-rating-video-filled -->
                      </div><!-- close .average-rating-overflow-width -->
                    </div><!-- close .average-rating-video-post -->
                    <div class="clearfix"></div>
                  
                    <ul class="video-index-meta-taxonomy"><li>Sci-fi</li></ul>												
                    <div class="clearfix"></div>
                
                  </div><!-- close .progression-video-index-vertical-align -->
                </div><!-- close .progression-video-index-table -->
              </div><!-- close .progression-video-index-content -->
              <div class="video-index-border-hover"></div>
            
            </a>
          </div><!-- close .progression-studios-video-index-container -->
        </div><!-- close .item -->
        
        <div class="item">
          <div class="progression-studios-video-index-container">
            <a href="video-post.html">
            
              <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/oliver-schwendener-1375413-unsplash-700x480.jpg" alt="Featured Image"></div>
          
              <div class="progression-video-index-content">
                <div class="progression-video-index-table">
                  <div class="progression-video-index-vertical-align">
                
                    <h2 class="progression-video-title">Art of Flight</h2>
                
                    <div class="average-rating-video-post">
                      <div class="average-rating-video-empty">
                        <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                      </div>
                      <div class="average-rating-overflow-width" style="width:90%;">
                        <div class="average-rating-video-filled">
                          <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                        <div class="clearfix"></div>
                        </div><!-- close .average-rating-video-filled -->
                      </div><!-- close .average-rating-overflow-width -->
                    </div><!-- close .average-rating-video-post -->
                    <div class="clearfix"></div>
                  
                    <ul class="video-index-meta-taxonomy"><li>Action</li></ul>												
                    <div class="clearfix"></div>
                
                  </div><!-- close .progression-video-index-vertical-align -->
                </div><!-- close .progression-video-index-table -->
              </div><!-- close .progression-video-index-content -->
              <div class="video-index-border-hover"></div>
            
            </a>
          </div><!-- close .progression-studios-video-index-container -->
        </div><!-- close .item -->
        
        
        <div class="item">
          <div class="progression-studios-video-index-container">
            <a href="video-post.html">
            
              <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/sergey-pesterev-222162-unsplash-700x480.jpg" alt="Featured Image"></div>
          
              <div class="progression-video-index-content">
                <div class="progression-video-index-table">
                  <div class="progression-video-index-vertical-align">
                
                    <h2 class="progression-video-title">Parts Unkown</h2>
                
                    <div class="average-rating-video-post">
                      <div class="average-rating-video-empty">
                        <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                      </div>
                      <div class="average-rating-overflow-width" style="width:50%;">
                        <div class="average-rating-video-filled">
                          <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                        <div class="clearfix"></div>
                        </div><!-- close .average-rating-video-filled -->
                      </div><!-- close .average-rating-overflow-width -->
                    </div><!-- close .average-rating-video-post -->
                    <div class="clearfix"></div>
                  
                    <ul class="video-index-meta-taxonomy"><li>Action, Drama</li></ul>												
                    <div class="clearfix"></div>
                
                  </div><!-- close .progression-video-index-vertical-align -->
                </div><!-- close .progression-video-index-table -->
              </div><!-- close .progression-video-index-content -->
              <div class="video-index-border-hover"></div>
            
            </a>
          </div><!-- close .progression-studios-video-index-container -->
        </div><!-- close .item -->
        
      </div><!-- close #progression-video-carousel - See /js/script.js file for options -->
    </div><!-- close .progression-studios-elementor-carousel-container  -->
  
    <div class="clearfix"></div>
    
    
  
    <div style="height:85px;"></div>
    
    <h2 class="post-list-heading">Khuyến Mãi | Sự Kiện<span><!--Find Something New to Watch --></span></h2>
    
    <div class="row">
  
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/mohamed-ahsan-1195307-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">Planet Earth</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:70%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Drama</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/annie-spratt-1187424-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">Polar Express</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:90%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Sci-fi</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/will-truettner-1052683-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">World's Busiest City</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:60%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Action</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/kevin-laminto-1376199-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">South Pacific</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:100%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Drama</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/ruthson-zimmerman-233522-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">Mad Profit</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:90%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Drama</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/jay-lee-1122790-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">Geostorm</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:50%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Sci-fi</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
      
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/spacex-530585-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">Space Time</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:100%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Sci-fi</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/asa-rodger-1196115-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">Bloodline</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:90%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Sci-fi</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="progression-studios-video-index-container">
          <a href="video-post.html">
            
            <div class="progression-studios-video-feaured-image"><img src="./assets/images/demo/cederic-x-494198-unsplash-700x480.jpg" alt="Featured Image"></div>
          
            <div class="progression-video-index-content">
              <div class="progression-video-index-table">
                <div class="progression-video-index-vertical-align">
                
                  <h2 class="progression-video-title">The Dark Tower</h2>
                
                  <div class="average-rating-video-post">
                    <div class="average-rating-video-empty">
                      <span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span><span class="dashicons dashicons-star-empty"></span>
                    </div>
                    <div class="average-rating-overflow-width" style="width:70%;">
                      <div class="average-rating-video-filled">
                        <span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span><span class="dashicons dashicons-star-filled"></span>
                      <div class="clearfix"></div>
                      </div><!-- close .average-rating-video-filled -->
                    </div><!-- close .average-rating-overflow-width -->
                  </div><!-- close .average-rating-video-post -->
                  <div class="clearfix"></div>
                  
                  <ul class="video-index-meta-taxonomy"><li>Sci-fi</li></ul>												
                  <div class="clearfix"></div>
                
                </div><!-- close .progression-video-index-vertical-align -->
              </div><!-- close .progression-video-index-table -->
            </div><!-- close .progression-video-index-content -->
            <div class="video-index-border-hover"></div>
            
          </a>
        </div><!-- close .progression-studios-video-index-container -->
      </div><!-- close .col -->
      
    </div><!-- close .row -->
    
    
    <ul class="page-numbers">
      <li><a class="previous" href="#!"><i class="fas fa-chevron-left"></i></a></li>
      <li><a class="current" href="#!">1</a></li>
      <li><a  href="#!">2</a></li>
      <li><a href="#!">3</a></li>
      <li><a href="#!">4</a></li>
      <li><a class="next page-numbers-select" href="#!"><i class="fas fa-chevron-right"></i></a></li>
    </ul>
    
    
    <div class="clearfix"></div>
  </div><!-- close .container -->
  
  
  