<footer id="footer-pro">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="copyright-text-pro">&copy; All rights reserved. Developed by <a href="#!">YourCompanyName</a>.</div>
      </div><!-- close .col -->
      <div class="col-md">
        <ul class="social-icons-pro">
          <li class="facebook-color"><a href="http://facebook.com/progressionstudios" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li class="twitter-color"><a href="http://twitter.com/Progression_S" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li class="instagram-color"><a href="http://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li class="youtube-color"><a href="http://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
          <li class="vimeo-color"><a href="http://vimeo.com" target="_blank"><i class="fab fa-vimeo-v"></i></a></li>
        </ul>
      </div><!-- close .col -->
    </div><!-- close .row -->
  </div><!-- close .container -->
</footer>

<a href="#0" id="pro-scroll-top"><i class="fas fa-chevron-up"></i></a>


<!-- Modal -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" aria-hidden="true">
   <button type="button" class="close float-close-pro noselect" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
     <div class="modal-header-pro">
       <h2>Please login</h2>
     </div>
     <div class="modal-body-pro social-login-modal-body-pro">
   
       <div class="registration-login-container">
         <form>
           <div class="form-group">
             <input type="text" class="form-control" id="username" placeholder="Username">
           </div>
           <div class="form-group">
             <input type="password" class="form-control" id="password" placeholder="Password">
           </div>
           <div class="container-fluid">
             <div class="row no-gutters">
               <div class="col checkbox-remember-pro"><input type="checkbox" id="checkbox-remember"><label for="checkbox-remember" class="col-form-label">Remember me</label></div>
              <div class="col forgot-your-password"><a href="#!">Forgot your password?</a></div>
            </div>
          </div><!-- close .container-fluid -->
           <div class="form-group aligncenter">
             <button type="button" class="btn">Login</button>
           </div>
          
          <div class="aligncenter"><a class="not-a-member-pro" href="landing-pricing-plans.html">Don't have account? <span>Signup</span></a></div>
            
          
          
         </form>

       </div><!-- close .registration-login-container -->

       </div><!-- close .modal-body -->

    </div><!-- close .modal-content -->
  </div><!-- close .modal-dialog -->
</div><!-- close .modal -->